/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .background_container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom right, #6d2263, #bc4131);;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 30px;
}

.signup {
    text-align: center;
}

p.signup {
    text-align: center;
    font-size:x-large;
} 

form {
    text-align: center;
}


.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #bc4131;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #6d2263;
    color: white;
    font-weight: 900;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.takeaway_description {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 30px;
    background-color: #b47dad;
    text-align: center;
}

.old_p {
    text-align: center;
    font-size:larger;
}

.left_3 {
    width: 33%;
    padding: 50px;
    float: left;
}

.center_3 {
    width: 33%;
    padding: 50px;
    float: left;
}

.right_3 {
    padding: 50px;
    overflow: hidden;
    float: left;
}

.get_it {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    padding: 10px;
    background-color: #1a0817;
    text-align: center;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color:#1a0817;
    color: white;
    text-align: center;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .left_3 {
        width:auto;
    }
    .center_3 {
        width:auto;
    }
}

.flex-container > div {
    margin: 10px;
    padding: 10px;
}


.left_2 {
    padding: 10px;
    float: left;
    background-color: #a3a0a3;
}

.right_2 {
    padding: 10px;
    background-color: #be756b;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color:#1a0817;
    color: white;
    text-align: center;
}
@media (max-width: 800px) {
    .flex-container-2 {
      flex-direction: column;
    }
}